<main>
    <!--TODO: add a like button, backend needs to be done FIRST!-->
    <img src="{{image_src}}" class="spot-img">
    <div class="spot-info">
        <h2>{{spotName}}</h2>
        <h5>{{tagList}}</h5>
        <span>{{spotCoordinates}}</span>
        <p>{{spotDescription}}</p>
        <div class="likes">
            <span>{{likesCount}}</span>
        </div>
    </div>
    <ul><!--should pass in an array of objects of all the reviews, not just the review IDs!!!-->
        {{#each review}}
        <li>
            <div style="display:flex">
                <h4>{{this.user}}</h4>
                <span>{{this.timestamp}}</span>
                <span>{{this.ratings}}</span>
            </div>
            <p>{{this.description}}</p>
        </li>
        {{/each}}
    </ul>
</main>